{% extends 'base.html' %}

{% block content %}
<p>Hello Paw is the platform where you can find everything for your pet.</p>
<p>Our services :
   <ul>
    <li>DayCare</li>
    <li>Boarding</li>
    <li>Medicare</li>
    <li>Products</li>
   </ul>

<p>Here you will get best Daycare & Boarding service. Best Medical consultation service. Best Products for your pet.</p>


<p>
    <b>Hello Paw</b><br>
    Symbol of Love ❤️ & Care 🐾

</p>

    <dev class="card-deck">
         <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

             <div class="card-body">
                <h5 class="card-title"> This website built by</h5>
                <p class="card-text">
                     <i>Ayesha Jahan (18101001@uap-bd.edu)</i><br>
                     <i>Rakin Mohammad Sifullah (18101003@uap-bd.edu)</i><br>
                     <i>Ruhin Ara Rishat (18101009@uap-bd.edu)</i><br>
                     <i>Marjan Binte Halim Ashfee (18101011@uap-bd.edu)</i>

                </p>
              </div>

         </div>
 </dev>


{% endblock content %}

